{{- if .Values.serviceAccount.create }}
---
# Scoped service account
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "controller.fullname" . }}
  labels:
    {{- include "controller.labels" . | nindent 4 }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  namespace: {{ .Release.Namespace }}
automountServiceAccountToken: true
  {{- end }}

---
# Access for the service account
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ include "controller.fullname" . }}
rules:
  - resources:
      - restateclusters
      - restateclusters/status
      - restateclusters/finalizers
      - restatedeployments
      - restatedeployments/status
      - restatedeployments/finalizers
      - restatecloudenvironments
      - restatecloudenvironments/status
      - restatecloudenvironments/finalizers
    verbs:
      - get
      - list
      - watch
      - patch
    apiGroups:
      - restate.dev
  - resources:
      - events
    verbs:
      - create
      - patch
    apiGroups:
      - events.k8s.io
  - resources:
      - namespaces
      - services
      - configmaps
      - serviceaccounts
      - poddisruptionbudgets
      - networkpolicies
      - statefulsets
      - persistentvolumeclaims
      - pods
      - jobs
      - securitygrouppolicies
      - secretproviderclasses
      - replicasets
      - replicasets/scale
    verbs:
      - get
      - list
      - watch
      - create
      - patch
    apiGroups:
      - ''
      - batch
      - apps
      - policy
      - networking.k8s.io
      - vpcresources.k8s.aws
      - secrets-store.csi.x-k8s.io
  - resources:
      - statefulsets
      - networkpolicies
      - jobs
      - securitygrouppolicies
      - secretproviderclasses
      - replicasets
    verbs:
      - delete
    apiGroups:
      - batch
      - apps
      - networking.k8s.io
      - vpcresources.k8s.aws
      - secrets-store.csi.x-k8s.io
  {{- if .Values.awsPodIdentityAssociationCluster }}
  - resources:
      - podidentityassociations
    verbs:
      - get
      - list
      - watch
      - create
      - patch
      - delete
    apiGroups:
      - eks.services.k8s.aws
  {{- end }}
---
# Binding the ClusterRole to the account
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ include "controller.fullname" . }}
subjects:
  - kind: ServiceAccount
    namespace: {{ .Release.Namespace }}
    name: {{ include "controller.fullname" . }}
roleRef:
  kind: ClusterRole
  name: {{ include "controller.fullname" . }}
  apiGroup: rbac.authorization.k8s.io
---
# Namespaced access for the service account
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ include "controller.fullname" . }}
rules:
  - resources:
    - secrets
    verbs:
      - get
      - list
      - watch
    apiGroups:
    - ''
  - resources:
    - deployments
    verbs:
      - get
      - list
      - watch
      - create
      - patch
    apiGroups:
    - apps
---
# Binding the Role to the account
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ include "controller.fullname" . }}
subjects:
  - kind: ServiceAccount
    namespace: {{ .Release.Namespace }}
    name: {{ include "controller.fullname" . }}
roleRef:
  kind: Role
  name: {{ include "controller.fullname" . }}
  apiGroup: rbac.authorization.k8s.io
